<!DOCTYPE html>
<html>
  <head>
    <title>Oceanheart Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%# Suppress global auth banner inside admin layout %>
    <% content_for :suppress_auth_status, true %>
    <%= yield %>
  </body>
</html>

